<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LcPageMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.domain.LcPage">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="pageCode" column="page_code" jdbcType="VARCHAR"/>
            <result property="pageName" column="page_name" jdbcType="VARCHAR"/>
            <result property="pageNameEn" column="page_name_en" jdbcType="VARCHAR"/>
            <result property="appCode" column="app_code" jdbcType="VARCHAR"/>
            <result property="appRemark" column="app_remark" jdbcType="VARCHAR"/>
            <result property="pageSchema" column="page_schema" jdbcType="VARCHAR"/>
            <result property="pageAssets" column="page_assets" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="CHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,page_code,page_name,
        page_name_en,app_code,app_remark,
        page_schema,page_assets,is_deleted,
        creator,modifier,create_time,
        last_update_time
    </sql>
</mapper>
